validator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="equipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="terrain">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="nom"/>
                <xs:attribute type="xs:string" name="adresse"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="joueurs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="joueur" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="nom" use="optional"/>
                      <xs:attribute type="xs:string" name="prenom" use="optional"/>
                      <xs:attribute type="xs:byte" name="numero" use="optional"/>
                      <xs:attribute type="xs:date" name="dateDebut" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="nom"/>
    </xs:complexType>
  </xs:element>
</xs:schema>